@import "generic.variables";

$window_title_img: image-url('toolbar.png');
$ipad_img: image-url('iPad.jpg');

.mytextcolour {
  color: #fe34df;
  @include grid-media-query(palm) {
    color: #eee;
  }
}

.wrapper {
    display: block;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.over_particles {
  position: relative;
  z-index: 9999;
}

#particles-js {
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:1;
}

section#particles {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  background-color: $color-inky-blue;
  // background: image-url('black-and-white-lights-abstract-curves.jpg') no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  // box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  border: 0;

  &.is--fixed {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 1.5;
    transform: translateY(0);
  }
}


.top-section {
  &.short-hero{ 
    a {
      p { margin: 0em; padding: 0.5em; }
      font-size: 1.5em;
      color: $color-yellow;
      font-family: $serif;
      @include font-weight("bold");
      @include font-style("italic");
      text-decoration: none;
    }
    a::selection {
      background: rgba(220,220,220,.2);
      padding: 30px;
      line-height: 2em;
    }
  }
  &.hero {
    padding: 6rem;
    transition: padding .4s ease-in-out;
    h2 {
      font-size: 3em;
      @include font-weight("light");
      color: #fff;
    }
    h3 {
      font-size: 1.5em;
      color: $color-yellow;
      font-family: $serif;
      @include font-weight("bold");
      @include font-style("italic");
    }
    h2::selection {
      background: rgba(0,0,0,.2);
    }
    h3::selection {
      background: rgba(220,220,220,.2);
      padding: 30px;
      line-height: 2em;
    }
  }
  @include grid-media-query(palm) {
    &.hero {
      padding: 1rem;
      h2 {
        font-size: 1.8em;
      }
    }
  }
  @include grid-media-query(lap) {
    &.hero {
      padding: 2.2rem;
      h2 {
        font-size: 2em;
      }
    }
  }
  @include grid-media-query(desk) {
    &.hero {
      padding: 4rem;

      h2 {
        font-size: 2.7em;
      }
    }
  }
}


.spacer { height: 50px; }

.window_panel {
  background-image: $window_title_img;
  background-position: 100% 0;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 3.2%;
  // @include breakpoint(lg) {
  //   padding-top: 2.7%;
  // }

  margin-top: 30px;
}
.ipad_device {
  background-image: $ipad_img;
  background-position: 100% 0;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 3.2%;
  // @include breakpoint(lg) {
  //   padding-top: 2.7%;
  // }

  margin-top: 30px;
}

section.projects {
  margin-top: 50px;
  margin-bottom: 30px;
  .grid__item{
    margin-bottom: 30px;
    text-align: center;
    a {
      padding: 1em 2em;
      display: block;
      vertical-align: middle;
    }
  }
}
.grid{
  a{
    background-color: #FFF;
  }
  @include project-element("lionbox", "#000", "logo-lionbox-ai-05-base.svg", "logo-lionbox-ai-06.svg");
  @include project-element("zinknotes", "#F4F3EE", "logo-zinknotes-ai-05-base.svg", "logo-zinknotes-ai-07.svg");
  @include project-element("daily_ui", "#F5F5F5", "logo-daily-ui-ai-05-base.svg", "logo-daily-ui-ai-05.svg");
  @include project-element("meetup", "#F5F5F5", "logo-meetup-base.svg", "logo-meetup.svg");
}

@keyframes animatedBackground {
    0% {
      -webkit-opacity: scale(1, 1);
      -moz-opacity: scale(1, 1);
      -ms-opacity: scale(1, 1);
      -o-opacity: scale(1, 1);
      opacity: scale(1, 1)
    }
    100% {
      -webkit-opacity: scale(1.1, 1.1);
      -moz-opacity: scale(1.1, 1.1);
      -ms-opacity: scale(1.1, 1.1);
      -o-opacity: scale(1.1, 1.1);
      opacity: scale(1.1, 1.1)
    }

  }

.bloc-head {
    color: #5aa8c5;
    padding: 30px;
}

.palette {
  min-height: 60px;
  &.square{
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  &.circle{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50px
  }
  &.rombo{
    height: 100px;
    width: 100px;
    margin: 40px auto;
    transform: rotate(45deg);
  }
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;

}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


