@import "generic.variables";

$window_title_img: image-url('toolbar.png');
$ipad_img: image-url('iPad.jpg');

.mytextcolour {
  color: #fe34df;
  @include grid-media-query(palm) {
    color: #eee;
  }
}

.wrapper {
    display: block;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}
#particles-js {
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:1;
}

section#top-section {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  background-color: #FEF736;
  background: image-url('yellow-metal-design-decoration-opt2.jpg') no-repeat;
  background-size: cover;
  background-position: 0% 100%;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  border-radius: 2px;
  border: 0;
  &.hero {
    padding: 6rem;
  }
}

.window_panel {
  background-image: $window_title_img;
  background-position: 100% 0;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 3.2%;
  // @include breakpoint(lg) {
  //   padding-top: 2.7%;
  // }

  margin-top: 30px;
}
.ipad_device {
  background-image: $ipad_img;
  background-position: 100% 0;
  background-size: contain;
  background-repeat: no-repeat;

  padding-top: 3.2%;
  // @include breakpoint(lg) {
  //   padding-top: 2.7%;
  // }

  margin-top: 30px;
}

section.projects {
  margin-top: 50px;
  .grid__item{
    margin-bottom: 30px;
    text-align: center;
    a {
      padding: 1em 2em;
      display: block;
      vertical-align: middle;
    }
  }
}
.grid{
  a{
    background-color: #FFF;
  }
  .lionbox {
    a {
      background-image: image-url('logo-lionbox-ai-05-base.svg');
      transform: scale(1, 1);
      transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }
    a:hover {
       background-color: #000;
      background-image:  image-url('logo-lionbox-ai-06.svg');
      transform: scale(1.1, 1.1);
      transition: transform .3s ease-in-out, background-color .1s ease-in-out;
    }
  }
  .zinknotes {
    a {
      background-image: image-url('logo-zinknotes-ai-05-base.svg');
      transform: scale(1, 1);
      transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }
    a:hover {
      background-color: #F4F3EE;
      background-image:  image-url('logo-zinknotes-ai-07.svg');
      transform: scale(1.1, 1.1);
      transition: transform .3s ease-in-out, background-color .1s ease-in-out;
    }
  }
  .daily_ui {
    a {
      background-image: image-url('logo-daily-ui-ai-05-base.svg');
      transform: scale(1, 1);
      transition: transform .3s ease-in-out;
    }
    a:hover {
      background-color: #F5F5F5;
      background-image: image-url('logo-daily-ui-ai-05.svg');
      transform: scale(1.1, 1.1);
      transition: transform .3s ease-in-out;
    }
  }
}

@keyframes animatedBackground {
    0% {
      -webkit-opacity: scale(1, 1);
      -moz-opacity: scale(1, 1);
      -ms-opacity: scale(1, 1);
      -o-opacity: scale(1, 1);
      opacity: scale(1, 1)
    }
    100% {
      -webkit-opacity: scale(1.1, 1.1);
      -moz-opacity: scale(1.1, 1.1);
      -ms-opacity: scale(1.1, 1.1);
      -o-opacity: scale(1.1, 1.1);
      opacity: scale(1.1, 1.1)
    }

  }

.bloc-head {
    color: #5aa8c5;
    padding: 30px;
}

.palette {
    min-height: 60px;
}


